<html>
    <head>
        <title>My Profile</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/main.css" />
        <link rel="stylesheet" href="../css/stylish-portfolio.css" />
        <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
        <link rel="stylesheet" href="../css/public_profile.css" />
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="stylesheet" href="css/feature_newadditions.css" />
        <link rel="stylesheet" href="css/custom_changes.css" />
    </head>

<body>
    <section class="trip_information">
        <center>
            <h2>Add New Trip Diary</h2>
            <form id="new-project-form" role="form">
    <div class="form-group">
      <label for="title">Title for New Project:</label>
      <input type="text" class="form-control" id="title" placeholder="Project Name">
    </div>
    <div class="form-group">
      <label for="image_url">Project image URL</label>
      <input type="text" class="form-control" id="image_url" placeholder="http://www.example.com/really_cool_image.jpg">
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input type="text" class="form-control" id="date" placeholder="January 1">
    </div>
    <div class="form-group">
      <label for="summary">Summary</label>
      <textarea type="text" class="form-control" id="summary" rows="3" placeholder="Wow, Very Project!  So much summary!"></textarea>
    </div>
    <button id="newProjectSubmitButton2" type="button" class="btn btn-default">Submit</button>
  </form>
        </center>
    </section>

    <p class="footer">Icons by <a href="http://fortawesome.github.io/Font-Awesome/">FontAwesome 4.1 Icons</a>.<br />
      Created by <a href="http://jenniferperrin.com">Jennifer Perrin</a>
    </p>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
 <script src="/js/add_diary.js"></script>

</body>

</html>
