<html>
  <head>
    {{> head_info}}
    <link rel="stylesheet" href="css/public_profile.css" />
    <link rel="stylesheet" href="css/custom_changes.css" />
  </head>

  <body id="add_diary_body">
    {{> menu_bar_user}}

    <section class="trip_information container">
      <center>
        <h2>Add New Trip Diary</h2>
        <form id="new-project-form" role="form">
          <div class="form-group">
            <label for="title">Title for New Project:</label>
            <input type="text" class="form-control" id="title" placeholder="Project Name">
          </div>
          <div class="form-group">
            <label for="image_url">Project image URL</label>
            <input type="text" class="form-control" id="image_url" placeholder="http://www.example.com/really_cool_image.jpg">
          </div>
          <!-- <div class="form-group">
            <label class="image_upload">Select Image for Upload</label>
            <input class="form-control" type="file" name="image_upload" id="image_upload" /> -->
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="text" class="form-control" id="date" placeholder="January 1">
          </div>
          <div class="form-group">
            <label for="summary">Summary</label>
            <textarea type="text" class="form-control" id="summary" rows="3" placeholder="Wow, Very Project!  So much summary!"></textarea>
          </div>
          <button id="newProjectSubmitButton" type="button" class="btn btn-default">Submit</button>
        </form>
      </center>
    </section>

    {{> menu_bar_script}}

    <script src="/js/add_diary.js"></script>

  </body>
</html>
