<!DOCTYPE html>
<html lang="en">

<head>
    {{> head_info}}

</head>

<body>
    {{> menu_bar_index}}

<section id="contact_info">
    <div id="contact" class="container">
        <h2 align="center">Contact</h2>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Wish Trip Dev Team</strong>
                </h4>
                <p>9500 Gilman Drive<br>La Jolla, CA 92092</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="wishtraveltrip@gmail.com">wishtraveltrip@gmail.com</a>
                    </li>
                </ul>
                <br>
                <hr class="small">
                <p class="text-muted">WishTrip &copy; 2016</p>
            </div>
        </div>
    </div>
</section>

{{> menu_bar_script}}

</body>

</html>